<section class="container m-4">

  <div class="row justify-content-center align-items-center">
    <div class="col col-lg-6 text-center">
      <h1 class="text-white" [hidden]="isCross">Player One Turn</h1>
      <h1 class="text-white" [hidden]="!isCross">Player Two Turn</h1>
      <div class="grid">
        <div *ngFor="let item of itemArray; index as i;">
          <div class="card m-3" (click)="handleClick(i)">
            <div class="box card-box">
              <app-icon [iconName]='item'></app-icon>
            </div>
          </div>

        </div>
      </div>


    </div>
    <div class="col col-lg-6 text-center" *ngIf="winMessage">
      <h1 class="text-uppercase text-white">game over {{winMessage}}</h1>
      <button class="text-uppercase btn btn-danger pr-5 pl-5" (click)="reloadGame()">reset game</button>
    </div>
  </div>
</section>